# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space

# TS files
[*.ts]
indent_size = 2

# Fantomas (see https://github.com/fsprojects/fantomas/blob/master/docs/Documentation.md)
[*.fs]
max_line_length=140
