<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!--
        BuildAlyzer has a bug with .NET 10, there is a fix available since 1 month
        but no sign of a release for now.

        For this reason, we want to use a local version of BuildAlyzer with the fix included
        and remove our own version later on.

        See:
            - https://github.com/Buildalyzer/Buildalyzer/issues/318
            - https://github.com/Buildalyzer/Buildalyzer/pull/319

        To build the custom version of Buildalyzer

        1. Clone https://github.com/Buildalyzer/Buildalyzer
        2. Comment all `<PackageValidationBaselineVersion>` lines (in the 3 projects). I was not able to make dotnet pack work with it
        3. Run `dotnet build -c Release && dotnet pack -p:Version=8.0.0-fable-001`
        4. Copy the `*nupkg` and `*.snupkg` to the Fable `LocalPackages` folder.

            cp **/bin/**/*.nupkg <path-to>/LocalPackages/
            cp **/bin/**/*.snupkg <path-to>/LocalPackages/
    -->
    <add key="LocalPackages" value="local-packages" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
     <clear />
  </disabledPackageSources>
</configuration>
