source https://www.nuget.org/api/v2

storage:none
framework:netstandard2.0,netcoreapp2.1

nuget FSharp.Compiler.Service
nuget FSharp.Core
nuget Newtonsoft.Json
nuget Dotnet.ProjInfo

group Build
  framework >= net45
  source https://www.nuget.org/api/v2
  nuget FAKE
  github fsharp/FAKE modules/Octokit/Octokit.fsx
  github fable-compiler/fake-helpers Fable.FakeHelpers.fs
