source https://www.nuget.org/api/v2

nuget FAKE
nuget FSharp.Compiler.Service
nuget FSharp.Compiler.Service.ProjectCracker
nuget Newtonsoft.Json
nuget NUnit
nuget NUnit.Runners
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs

github fsprojects/Forge:b04a1c64c3d2a4d7759fb06abddfcbb490ad787f src/Forge.Core/XLinq.fs
github fsprojects/Forge:b04a1c64c3d2a4d7759fb06abddfcbb490ad787f src/Forge.Core/ResizeArray.fs
github fsprojects/Forge:b04a1c64c3d2a4d7759fb06abddfcbb490ad787f src/Forge.Core/Constants.fs
github fsprojects/Forge:b04a1c64c3d2a4d7759fb06abddfcbb490ad787f src/Forge.Core/ProjectSystem.fs

nuget Suave

group Docs
  source https://www.nuget.org/api/v2

  nuget FAKE
  nuget Suave
  nuget DotLiquid
  nuget FSharp.Formatting 2.14.2