[tool.poetry]
name = "Fable"
version = "4.3.0"
description = "Fable"
authors = ["Alfonso Garcia-Caro <@alfonsogcnunez>", "Dag Brattli <dag@brattli.net>"]
license = "MIT License"
readme = "README.md"
homepage = "https://fable.io"
packages = [
    { include = "temp/fable-library-py/fable_library", from = "." },
]
[tool.poetry.dependencies]
python = ">= 3.10, < 4.0"
python-dateutil = "^2.9.0"

[tool.poetry.group.dev.dependencies]
pytest = "^8.1.1"
ruff = "^0.11.6"
maturin = "^1.8.3"

[tool.pyright]
reportMissingTypeStubs = false
reportMissingImports = false
reportUnnecessaryTypeIgnoreComment = true
reportUnusedImport = true
reportUnusedVariable = true
reportUnnecessaryIsInstance = true
reportUnnecessaryComparison = true
reportUnnecessaryCast = true
reportPrivateUsage = true
reportImportCycles = true
reportDuplicateImport = true
reportConstantRedefinition = true
reportOverlappingOverload = true
reportInconsistentConstructor = true
reportImplicitStringConcatenation = true
pythonVersion = "3.10"
typeCheckingMode = "strict"

[tool.ruff]
# Keep in sync with .pre-commit-config.yaml
line-length = 120
lint.ignore = []
target-version = "py310"
lint.select = ["E", "W",  "F", "I", "T", "RUF", "TID", "UP"]
include =["*.py"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.isort]
lines-after-imports = 2

[tool.pytest.ini_options]
minversion = "8.0"
pythonpath = "temp/tests/Python"
testpaths = [
    "temp/tests/Python",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
