[package]
name = "fable_library_rust"
version = "0.1.0"
edition = "2021"

[features]
futures = ["dep:futures"]
unsafe-cells = []

[dependencies]
startup = { version = "0.1.1" }
rust_decimal = { version = "1.25.0", features = ["maths"] }
futures = { version = "0.3.21", features = ["executor", "thread-pool"], optional = true }
uuid = { version = "1.1.2", features = ["v4"] }