/*--------------------------------------------------------------------------
  Formatting for F# code snippets
/*--------------------------------------------------------------------------*/

/* strings --- and stlyes for other string related formats */
span.s { color:#E0E268; }
/* printf formatters */
span.pf { color:#E0C57F; }
/* escaped chars */
span.e { color:#EA8675; }

/* identifiers --- and styles for more specific identifier types */
span.i { color:#d1d1d1; }
/* type or module */
span.t { color:#43AEC6; }
/* function */
span.f { color:#e1e1e1; }
/* DU case or active pattern */
span.p { color:#4ec9b0; }

/* keywords */
span.k { color:#FAB11D; }
/* comment */
span.c { color:#808080; }
/* operators */
span.o { color:#af75c1; }
/* numbers */
span.n { color:#96C71D; }
/* line number */
span.l { color:#80b0b0; }
/* mutable var or ref cell */
span.v { color:#d1d1d1; font-weight: bold; }
/* inactive code */
span.inactive { color:#808080; }
/* preprocessor */
span.prep { color:#af75c1; }
/* fsi output */
span.fsi { color:#808080; }

/* omitted */
span.omitted {
	background:#3c4e52;
  border-radius:5px;
	color:#808080;
	padding:0px 0px 1px 0px;
}
/* tool tip */
div.tip {
	background:#475b5f;
  border-radius:4px;
  font-size:11pt;
	padding:6px 8px 6px 8px;
	display:none;
  color:#d1d1d1;
  z-index:1;
}
table.pre pre {
  padding:0px;
  margin:0px;
  border:none;
}
table.pre, pre.fssnip, pre {
  line-height:13pt;
  border:1px solid #d8d8d8;
  border-collapse:separate;
  white-space:pre;
  font: 9pt 'Roboto Mono',consolas,monospace;
  width:90%;
  margin:10px 20px 20px 20px;
  background-color:#343434;
  padding:10px;
  border-radius:5px;
  color:#d1d1d1;
}
pre.fssnip code {
  font: 9pt 'Roboto Mono',consolas,monospace;
}
table.pre pre {
  padding:0px;
  margin:0px;
  border-radius:0px;
  width: 100%;
}
table.pre td {
  padding:0px;
  white-space:normal;
  margin:0px;
}
table.pre td.lines {
  width:30px;
}

pre {
  word-wrap: inherit;
	overflow: hidden;
}
