type project
id Fable.JsonConverter
authors Alfonso Garcia-Caro
projectUrl http://fable.io
licenseUrl https://github.com/fable-compiler/Fable/blob/master/LICENSE
requireLicenseAcceptance false
copyright Copyright (c) 2016 Alfonso Garcia-Caro
tags
    FSharp Fable Json
summary
    Json.NET converter compatible with Fable (F# to JS compiler)
description
    Json.NET converter compatible with Fable (F# to JS compiler)