name: Test

on:
  push:
    branches: [ main, beyond ]
  pull_request:
    branches: [ main, beyond ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: Setup Node.js environment
      uses: actions/setup-node@v2.4.1

    - name: Setup Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Fable Tests
      run: dotnet fsi build.fsx test

    - name: Fable Tests - Rust
      run: dotnet fsi build.fsx test-rust
